{
    "presets": [
          ["env",
          {
            "targets": {
                "chrome": "81"
                }
            }
          ]
      ],
      "plugins": [
        [
          "@babel/plugin-proposal-class-properties"
        ]
      ]
    }